.root{
    -fx-background-color: #FFFFFF;
}
.left_pane{
    -fx-background-color: #FFDBB9;
}
.upload_button{
    -fx-background-color: #FFFFFF;
}
.images{
    -fx-border-style: dotted;
    -fx-border-color: #E3C081;
    -fx-border-width: 3px;
}
.rotate{
    -fx-background-color: #FFDBB9;
}
.btn:hover{
    -fx-background-color: #faedbb;
}
.btn_down:hover{
    -fx-background-color: #c1d8b4;
}
.btn_up:hover{
    -fx-background-color: #f7d5d2;
}

.slider .track {
    -fx-background-color: #f2e9e1;
}

.slider . thumb{
    -fx-background-color: #e0debe;
}

.menu-item:focused .label {
    -fx-text-fill: #e0debe;
}
.menu-item .label {
    -fx-font-family:TRON;
    -fx-font-size: 20;
    -fx-text-fill: #6f5858;
}
.menu-item:focused {
    -fx-background-color: #faedbb;
}
.separator .line {
    -fx-border-color: #EBE8DB;
    -fx-border-width: 1;
}